.video__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.video__item {
  width: 100%;
  position: relative;
  background-color: gray;
}
.video {
  width: 100%;
  border: 1px solid red;
}

.video__text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  color: red;
}
