.room {
  display: flex;
  flex-direction: column;
  background-color: #676767;
  height: 100vh;
}

.wrapper {
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-grow: 1;
}

.video {
  position: relative;
  max-width: 320px;
  max-height: 280px;
  border: 2px solid rgb(0, 0, 0);

  video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.videoInfo {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 4px;
}

.constrolBlock {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  width: 50px;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  border: 1px solid transparent;

  svg {
    width: 35px;
    height: 35px;
    fill: white;
  }
}

.exitBtn {
  border: 1px solid #e13939;
  background-color: #e13939;
}

.disabled {
  background-color: #e13939;
}

.enabled {
  background-color: #22e729;
}

.title {
  margin-top: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.nameWrapper {
  margin: 40px auto;
  width: 100%;
  max-width: 500px;


}

.subTitle {
  color: #ebebeb;
  font-size: 20px;
}

.inputName {
  padding: 10px;
  width: 100%;
  outline: none;
  color: gray;
  border: 2px solid gray;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 18px;

}

.joinBtn {
  background-color: #22e729;
  border: 2px solid #22e729;
  padding: 10px 20px;
  border-radius: 4px;
  outline: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 30px auto 0;
  font-weight: bold;
  display: block;
  transition: .3s;

  &:hover {
    color: #22e729;
    background-color: #fff;
  }

}

.error {
  border-color: #e13939;
}

.errorText {
  color: #e13939;
}